.App {
  text-align: center;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.header-text {
  max-width: 1200px;
  margin: 0 0 0 10vw;
  display: flex;
  padding-top: 1vh;
  padding-bottom: 3vh;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  font-size: 30px;
  color: #aa8deb;
}

/* LEFT COLUMN */
.left-container {
  margin: 0 0 10vh 10vw;
}
.account-info-container {
  width: 45vw;
  height: 355px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  
}
.account-info {
  width: auto;
  height: auto;
  display: flexbox;
  margin: 0.5vw 0 0 1.5vw;
}
.accChange {
  position: relative;
  float: right;
  margin: 0 3vw 0 0;
  height: auto;
  width: auto;
  padding: 10px;
  -moz-border-radius: 10px; /* or 50% */
  border-radius: 10px; /* or 50% */
  font-weight: normal;
  text-align: center;
  color: #EFC3F5;
  font-size: 16px;
}
.accChangeLabel {
  font-size: 10px;
  position: relative;
  float: right;
  margin: 0 3.5vw 0 0;
  color: #efc3f557;
}
.up {
  background-color: rgba(0, 255, 0, 0.15);
}
.down {
  background-color: rgba(255, 0, 0, 0.2);
}
.text-headline-heavy {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  color: #EFC3F5;
}
.text-headline-light {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: #EFC3F5;
}
.wrap {
  line-height: normal;
}
.account-info-chart-container {
  width: 42vw;
  margin:0 auto;
  height: 250px;
}

.pie-trades-container {
  width: 45vw;
  margin: 3vh 0 0 0;
  display: flex;
  flex-direction: row;
}
.pie-chart-container {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.pie-chart-title {
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5vw;
}
.pie-chart {
  width: 100%;
  margin: 1.5vh 0 0 0;
  height: 70%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
}

.toggle-trades-container {
  width: 50%;
  height: auto;
  margin: 0 0 0 2vw;
}

.comparison-chart-container {
  width: 100%;
  display: flex;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 3vh 0 0 0;
}
.comparisons-chart {
  margin: 0 0 0 0;
}


/* RIGHT COLUMN */
.right-container {
  width: 35vw;
  margin: 0 10vw 5vh 2vw;
  display: flex;
  flex-direction: column;
}
.portfolio-container {
  width: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.orders-container {
  margin: 3vh 0 0 0;
  width: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.watchlist-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 3vh 0 0 0;
  height: auto;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.container-header {
  margin: 0.5vw 0 0 1.5vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
}
.trades {
  width: 60%;
  margin: 3vh 0 0 0;
}
img {
  width: 30%;
  height: auto;
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
svg {
  fill: #7e48f363;
  color: #EFC3F5;
}
svg .octo-arm {
  transform-origin: 130px 106px;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* responsive */
@media screen and (max-width: 1226px) {
  .content-container {
    flex-direction: column;
  }
  .left-container {
    margin: 0 10vw 10vh 10vw;
  }
  .account-info-container {
    width: 100%;
  }
  .account-info {
    margin: 0.5vw 0 0 3vw;

  }
  .account-info-chart-container {
    position: relative;
    width: 96%;
    margin: 0 auto;
    height: 80%;
    padding-bottom: 10px;
  }
  .accChange {
    margin: 0 4vw 0 0;
  }
  .accChangeLabel {
    margin: 0 4.5vw 0 0;
  }
  .pie-trades-container {
    width: 100%;
  }
  .pie-chart {
    width: 100%;
    margin: 1.5vh 3vw 0 0;
  }
  .toggle-trades-container {
    margin: 0 8vw 0 10vw;
    width: 100%;
  }
  .right-container {
    width: 80%;
    margin: 0 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .left-container {
    margin: 0 3vw 10vh 3vw;
  }
  .header-text {
    margin: 0 0 0 5vw;
  }
  .account-info-chart-container {
    height: 75%;
  }
  .pie-chart {
    width: 100%;
    margin: 0 5vw 0 0;
  }
  .right-container {
    width: 90%;
    margin: 0 10vw 5vh 5vw;
  }
  .toggle-trades-container {
    margin: 0 2vw 0 7vw;
    width: 100%;
  }
  .pie-trades-container {
    margin: 3vh 0 0 3vw;
    width: auto;
  }
  .trades {
    width: 50%;
  }
  .comparison-chart-container {
    margin: 3vh 0 0 0;
  }
  .comparisons-chart {
    margin: 3vh 0 0 0;
    width: 100%;
  }
}