.App {
  text-align: center;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.header-text {
  max-width: 1200px;
  margin: 0 0 0 10vw;
  display: flex;
  padding-top: 1vh;
  padding-bottom: 3vh;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  font-size: 30px;
  color: #aa8deb;
}

/* LEFT COLUMN */
.left-container {
  margin: 0 0 10vh 10vw;
}
.account-info-container {
  width: 45vw;
  height: 355px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
  
}
.account-info {
  width: 300px;
  height: auto;
  display: flexbox;
  margin: 0.5vw 0 0 1.5vw;
}
.text-headline-heavy {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 10px;
  color: #EFC3F5;
}
.text-headline-light {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: #EFC3F5;
}
.account-info-chart-container {
  width: 42vw;
  margin:0 auto;
  height: 250px;
}

.pie-trades-container {
  width: 45vw;
  margin: 3vh 0 0 0;
  display: flex;
  flex-direction: row;
}
.pie-chart-container {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.pie-chart-title {
  text-align: center;
  margin: 0 auto;
  padding-top: 0.5vw;
}
.pie-chart {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.16));
}

.toggle-trades-container {
  width: 50%;
  height: auto;
  margin: 0 0 0 2vw;
}

.comparison-chart-container {
  width: 100%;
  display: flex;
  height: auto;
  margin: 3vh 0 0 0;
}


/* RIGHT COLUMN */
.right-container {
  width: 35vw;
  margin: 0 10vw 5vh 2vw;
  display: flex;
  flex-direction: column;
}
.portfolio-container {
  width: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.orders-container {
  margin: 3vh 0 0 0;
  width: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.watchlist-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin: 3vh 0 0 0;
  height: auto;
  border-radius: 20px;
  background-color: #3c2e492c;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.container-header {
  margin: 0.5vw 0 0 1.5vw;
  width: auto;
  display: flex;
  flex-direction: row;
  height: auto;
}
.trades {
  width: 75%;
}
img {
  width: 30%;
  height: auto;
}