flask==1.1.2
python-dotenv==0.17.0
gunicorn==20.1.0
alpaca-trade-api==1.2.0
flask_sqlalchemy==2.5.1
flask_migrate==2.7.0
flask_cors==3.0.10
pandas==1.2.4
pytz==2021.1
pandas_datareader==0.10.0
numpy==1.20.2
datetime==4.3
finvizfinance==0.9.6
progress==1.5
xlsxwriter==1.4.0
psycopg2-binary==2.8.6
python-binary-memcached==0.30.1