flask
python-dotenv
gunicorn
alpaca-trade-api
flask_sqlalchemy
flask_migrate
flask_cors
pandas
pytz
pandas_datareader
numpy
datetime
finvizfinance
progress
xlsxwriter
psycopg2-binary
python-binary-memcached