.styled-table {
    border-collapse: collapse;
    min-width: 30vw;
    margin: 0 1.5vw 1.5vw 1.5vw;
    font-size: 0.9em;
    font-family: Open Sans, sans-serif;
    height: auto;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.toggle {
    min-width: 20vw;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.16);
}
.styled-table thead tr {
    color: #f2d6f877;
    text-align: right;
    border-bottom: thin solid #604b7431;
}
.styled-table tbody tr {
    font-weight: bold;
    color: #EFC3F5;
    text-align: right;
    border-bottom: thin solid #604b7431;
}

.styled-table th {
    padding: 1vh 0.5vw 1vh 0.5vw;
}

.styled-table td {
    padding: 2vh 0.5vw 2vh 0.5vw;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #44335331;
}
.styled-table tbody tr:last-child{
    border-bottom: 0;
}
.styled-table .ticker-col {
    text-align: left;
}
.styled-table .ticker-col a{
    text-decoration: none;
    color:#EFC3F5;
}
.styled-table .ticker-col a:hover{
    text-decoration: none;
    color:#EFC3F5;
}
.styled-table .ticker-col a:visited{
    text-decoration: none;
    color:#EFC3F5;
}
.styled-table .ticker-col a:active{
    text-decoration: none;
    color:#EFC3F5;
}
.styled-table .ticker-col a:link{
    text-decoration: none;
    color:#EFC3F5;
}
.positive {
    color: #57c967;
}
.negative {
    color: #d14e4e;
}



