.styled-table {
    border-collapse: collapse;
    min-width: 30vw;
    margin: 0 1.5vw 1.5vw 1.5vw;
    font-size: 0.9em;
    font-family: Open Sans, sans-serif;
    height: auto;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.toggle {
    min-width: 20vw;
}
.styled-table thead tr {
    color: #ffffff77;
    text-align: right;
    border-bottom: thin solid #151516fb;
}
.styled-table tbody tr {
    font-weight: bold;
    color: #f4ebf5da;
    text-align: right;
    border-bottom: thin solid #141416fb;
}

.styled-table th {
    padding: 1vh 0.5vw 1vh 0.5vw;
}

.styled-table td {
    padding: 2vh 0.5vw 2vh 0.5vw;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #45464b81;
}
.styled-table tbody tr:last-child{
    border-bottom: 0;
}
.styled-table .ticker-col {
    text-align: left;
}



